<:Title>
  Todos

<:Body>
  <h1>{{ _todos.size }} Todos</h1>

  <form e-submit="add_todo">
    <div class="form-group">
      <label>Todo</label>
      <input class="form-control" type="text" value="{{ page._new_todo }}">
    </div>
  </form>

  <div>
    {{ if current_todo }}
      <h2>{{ current_todo.name }}</h2>
      <textarea>{{ current_todo.description }}</textarea>
    {{ end }}
  </div>

  <button e-click="check_all"> Check all ({{ incomplete }} unchecked)</button>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ percent_complete }}%;" >
      {{ percent_complete }}%
    </div>
  </div>

  <table class="todo-table">
    {{ _todos.each_with_index do |todo, index| }}
      <tr
        e-click="params._index = index"
        class="{{ selected_classname(todo) }}">
        <td>
          <input type="checkbox" checked="{{ todo.completed }}">
        </td>
        <td class="{{ completed_classname(todo) }}">
          {{ todo.name }}
        </td>
        <td>
          <button e-click="todo.destroy">&times;</button>
        </td>
      </tr>
    {{ end }}
  </table>
