<:Title>
  Todos

<:Body>
  <h1>Todos</h1>

  <form e-submit="add_todo">
    <div class="form-group">
      <label>Todo</label>
      <input class="form-control" type="text"
        value="{{ page._new_todo }}">
    </div>
  </form>

  <div>
    {{ if current_todo }}
      <h2>{{ current_todo._name }}</h2>
      <textarea>{{ current_todo._description }}</textarea>
    {{ end }}
  </div>

  <table class="todo-table">
    {{ _todos.each_with_index do |todo, index| }}
      <tr
        e-click="params._index = index"
        class="{{ selected_classname(params._index, index) }}">
        <td><input type="checkbox"
          checked="{{ todo._completed }}"></td>
        <td class="{{ completed_classname(todo) }}">{{ todo._name }}</td>
        <td><button e-click="todo.destroy">&times;</button></td>
      </tr>
    {{ end }}
  </table>
